# 忽略.env文件和其他包含敏感信息的配置文件
.env
# 但不忽略示例文件
!.env.example
*.pem
*_key
*_secret
*.key
*.crt
docker_mirror_certs

# IDE和编辑器文件
.idea/
.vscode/
*.swp
*.swo

# 构建和依赖文件
node_modules/
/dist/
/build/
*.log

# 临时文件
tmp/
temp/

WeKnora
/models/
services/docreader/src/proto/__pycache__
test/data/mswag.txt
data/files/

.python-version
.venv/
weknora/*.default.yaml
weknora/*.schema.json
weknora/charts/
weknora/rendered.yaml
weknora/rendered.yaml
weknora/wkr.dot
weknora/wkr.png
weknora/wkr-skaffold.png
proxy.sh
skaffold-render.yaml

### macOS
# General
.DS_Store
